@font-face {
  font-family: "vazir";
  src: url("../fonts/vazir-farsi-digits/Vazir-Medium-FD-WOL.woff") format("woff"), url("../fonts/vazir-farsi-digits/Vazir-Medium-FD-WOL.woff2") format("woff2"), url("../fonts/vazir-farsi-digits/Vazir-Medium-FD-WOL.ttf") format("truetype");
}
:root {
  --hue: 227;
  --sat: 47%;
  --primary-color: hsl(var(--hue), var(--sat), 52%);
  --primary-color-light: hsl(var(--hue), var(--sat), 85%);
  --primary-color-lighten: hsl(var(--hue), var(--sat), 80%);
  --secondary-color: hsl(var(--hue), var(--sat), 53%);
  --title-color: hsl(var(--hue), 4%, 15%);
  --text-color: hsl(var(--hue), 4%, 35%);
  --text-color-light: hsl(var(--hue), 4%, 65%);
  --body-color: hsl(var(--hue), 0%, 100%);
  --container-color: #fff;
  --ff-primary: "vazir", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--ff-primary);
  background: var(--body-color);
  line-height: 2;
  font-size: 1rem;
  text-align: right;
}

.container {
  width: 90vw;
  max-width: 1170px;
  margin: 0 auto;
  display: grid;
  gap: 1.5rem;
}

.section {
  padding: 4rem 0 1rem 0;
}

.section-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.section-title span {
  color: var(--primary-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
}

.svg-img {
  width: 400px;
  justify-self: center;
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  line-height: 2;
}

p {
  color: var(--text-color);
  line-height: 2;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 0.875rem;
}

.btn {
  display: inline-block;
  background: var(--primary-color);
  color: #fff;
  padding: 0.5rem 1.5rem;
  border-radius: 3rem;
  transition: 0.4s;
}

.btn:hover {
  background: var(--container-color);
  color: var(--primary-color);
  outline: 1px solid var(--primary-color);
}

.header-btn {
  display: none;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: var(--body-color);
  padding: 0.75rem 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--title-color);
}

.nav-toggle {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--title-color);
  cursor: pointer;
}

.nav-item a {
  color: var(--title-color);
}

.header-shadow {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

.active-link {
  position: relative;
}
.active-link::before {
  content: "";
  position: absolute;
  width: 3rem;
  height: 4px;
  border-radius: 4px;
  background: var(--primary-color);
  bottom: -0.75rem;
  left: calc(50% - 1.5rem);
}

.home {
  padding-top: 5rem;
}

.home-content {
  row-gap: 2.5rem;
}

.home-description {
  margin-bottom: 2rem;
}

.about-info {
  text-align: center;
}

.support-info {
  text-align: center;
}

@media screen and (max-width: 767px) {
  .nav-menu {
    position: fixed;
    top: -100%;
    width: 90%;
    margin: 0 auto;
    background: var(--container-color);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    border-radius: 2rem;
    padding: 2.5rem 0;
    text-align: center;
    transition: 0.4s;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.5rem;
  }
  .show-menu {
    top: 4.6rem;
  }
}
@media screen and (min-width: 576px) {
  .home {
    padding-top: 7rem;
  }
  .home-content, .about-content, .support-content {
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
  .svg-img {
    width: 100%;
  }
  .home-img, .about-info {
    order: 2;
  }
  .about-info, .support-info {
    text-align: right;
  }
}
@media screen and (min-width: 768px) {
  .nav-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 2.5rem;
  }
  .nav-toggle {
    display: none;
  }
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
}
@media screen and (min-width: 992px) {
  .container {
    width: 95vw;
  }
  .header-btn {
    display: block;
    padding: 0.3rem 1.5rem;
  }
  .svg-img {
    width: 500px;
  }
}

/*# sourceMappingURL=main.css.map */
