.contact-content {
  padding-bottom: 3rem;
}

.contact-title, .contact-description {
  text-align: center;
}

.contact-info {
  display: grid;
  row-gap: 0.75rem;
}

.contact-address {
  font-size: 1rem;
  font-weight: bold;
  color: var(--title-color);
}

.contact-information {
  font-weight: 400;
  color: var(--text-color);
}