* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--ff-primary);
  background: var(--body-color);
  line-height: 2;
  font-size: 1rem;
  text-align: right;
  // transition: 0.5s; //for darkmode
}

.container {
  width: 90vw;
  max-width: 1170px;
  margin: 0 auto;
  display: grid;
  gap: 1.5rem;
}

.section {
  padding: 4rem 0 1rem 0;
}

.section-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;

  span {
    color: var(--primary-color);
  }
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
}

.svg-img {
  width: 400px;
  justify-self: center;
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  line-height: 2;
}

p {
  color: var(--text-color);
  line-height: 2;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 0.875rem;
}


.btn {
  display: inline-block;
  background: var(--primary-color);
  color: #fff;
  padding: 0.5rem 1.5rem;
  border-radius: 3rem;
  transition: 0.4s;
}

.btn:hover {
  background: var(--container-color);
  color: var(--primary-color);
  outline: 1px solid var(--primary-color);
}


